:root {
  --cyan: hsl(172, 67%, 45%);
  --dark-cyan: hsl(183, 100%, 15%);
  --dark-gray-cyan: hsl(186, 14%, 43%);
  --gray-cyan: hsl(184, 14%, 56%);
  --light-gray-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
  background-color: var(--light-gray-cyan);
  font-family: "Space Mono", monospace;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

main form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--white);
  border-radius: 20px;
  padding: 28px;
}

.section-title {
  color: var(--dark-gray-cyan);
}

.bill-container,
.tip-percent-container,
.people-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

input {
  border: none;
  border-radius: 6px;
  padding: 16px;
  font-size: 24px;
  font-family: "Space Mono", monospace;
  color: var(--dark-cyan);
  text-align: right;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: pointer;
}

input:focus {
  outline: 2px solid var(--cyan);
}

input.error {
  outline: 2px solid red;
}

.bill-container input {
  background: var(--very-light-grayish-cyan) url(./images/icon-dollar.svg)
    no-repeat scroll 18px 25px;
}

.people-container input {
  background: var(--very-light-grayish-cyan) url(./images/icon-person.svg)
    no-repeat scroll 18px 25px;
}

.tip-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.tip-btn {
  border: none;
  border-radius: 6px;
  padding: 16px;
  font-size: 24px;
  color: var(--white);
  background-color: var(--dark-cyan);
  font-family: "Space Mono", monospace;
  transition: color 300ms ease, background-color 300ms ease;
  cursor: pointer;
}

.tip-btn-container input[type="radio"] {
  display: none;
}

.tip-btn-container label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  color: var(--white);
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 6px;
  font-size: 24px;
  font-family: "Space Mono", monospace;
  transition: color 300ms ease, background-color 300ms ease;
  cursor: pointer;
}

.tip-btn:hover,
.tip-btn:has(.active) {
  color: var(--dark-cyan);
  background-color: var(--cyan);
}

.custom-tip-field {
  color: var(--dark-cyan);
  background-color: var(--very-light-grayish-cyan);
}

.people-container-text {
    display: flex;
    justify-content: space-between;
}

.people-error-text {
    display: none;
    color: red
}

.tip-results-container {
  display: grid;
  background-color: var(--dark-cyan);
  border-radius: 6px;
  padding: 40px 24px;
  gap: 32px;
}

.tip-results-container > div {
    display: flex;
    flex-direction: column;
    gap: 32px
}

.results-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results-text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.results-heading {
  color: var(--white);
  font-size: 16px;
}

.results-subheading {
  color: var(--light-gray-cyan);
  font-size: 14px;
}

.results-amount {
  color: var(--cyan);
  font-size: 28px;
}

.reset-btn {
  background-color: var(--cyan);
  border: none;
  border-radius: 6px;
  padding: 14px;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  color: var(--dark-cyan);
  text-transform: uppercase;
  cursor: pointer;
}


@media screen and (min-width: 992px) {
    main form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 45px;
        max-width: 800px;
        margin: auto;
    }

    .tip-results-container {
        align-content: space-between;
    }
}